# Conhecendo melhor nossa base de consumidores: qual estado possui os clientes com melhores pontuações de crédito?

## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## Tópicos

Neste desafio você aprenderá:

- Média;
- Mediana;
- Moda;
- Desvio padrão.

## Requisitos

Você precisará de python 3.6 (ou superior).

O recomendado é você utilizar um [ambiente virtual](https://pythonacademy.com.br/blog/python-e-virtualenv-como-programar-em-ambientes-virtuais). Para isto, execute os comandos como no exemplo abaixo:

    pip3 install virtualenv
    virtualenv venv -p python3
    source venv/bin/activate 

Ao terminar o desafio, você pode sair do ambiente criado com o comando `deactivate`

## Detalhes

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset.
O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo "submission.json".

Descrição dos dados:

- *'id'*: Identificador do cliente
- *'sobrenome'*: Sobrenome do cliente
- *'pontuacao_credito'*: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente)
- *'estado_residencia'*: Estado de residência do cliente
- *'genero'*: Gênero do cliente
- *'nivel_estabilidade'*: Nível de estabilidade do cliente
- *'saldo_conta'*: Saldo disponível na conta do cliente
- *'numero_produtos'*: Número de produtos que o cliente consome
- *'possui_cartao_de_credito'*: Possui um cartão de crédito cadastrado
- *'membro_ativo'*: Membro acessa e consome frequentemente

### 1. Importações

In [16]:
import pandas as pd

### 2. Carregando dados

In [12]:
df = pd.read_csv('desafio1.csv')
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

### 3. Agrupando as médias, medianas, desvios padrões e modais aos Estados

In [13]:
mean = df.groupby('estado_residencia').pontuacao_credito.mean()
median = df.groupby('estado_residencia').pontuacao_credito.median()
std = df.groupby('estado_residencia').pontuacao_credito.std()
mode = df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)

### 4. Criando um dataframa a partir dos dados coletados e devifinindo suas colunas.

In [14]:
resultado = pd.concat([mode, median, mean, std], axis=1)
resultado.columns = ['moda', 'mediana', 'media', 'desvio_padrao']

### 5. Gerando JSON.

In [15]:
resultado.to_json('submission.json', orient='index')